<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        input:focus{
            outline: none;
            border: none;
        }
    </style>
</head>
<body>

    <button style="background: teal;color: #fff; border: none; padding: 10px; border-radius: 15px;">Buy with Crypto</button>

    <div style="width: 100vw; height: 100vh; background: teal; position: absolute; top: 0; button: 0; right: 0; left: 0; display: flex; justify-content: center; align-items: center;">
        <form style="background:#fff; width: 200px; height: auto; padding: 30px 10px; box-shadow: 2px 2px 5px #222, -2px -2px 5px #222;" action="">
            <h3 style="text-align: center;color: blue; padding: 0,10px0,10px; margin-bottom: 10px; border-bottom: 1px solid #555;">Smart Earners</h3>

            <label style="color: #666; font-size:.8rem">Email:</label>
            <div style="width: 100%; border: 1px solid #999; display: flex; height: 30px; margin-bottom: 10px;">
                <input style="padding: 6px; border:none; height: 100%; width: calc(100%); display: block" type="text" disabled value="inedumozey@gmail.com">
            </div>

            <label style="color: #666; font-size:.8rem">Amount:</label>
            <div style="width: 100%; border: 1px solid #999; display: flex; height: 30px; margin-bottom: 10px;">
                <input style="padding: 6px; border:none; height: 100%; width: calc(100% - 40px); display: block" type="number" min=0 placeholder="Amount">
                <small style="width: 40px; text-align: center; font-weight: bold; display: flex; justify-content: center; align-items: center;color: #c20; font-size: 1.5rem; height: 100%">$</small>
            </div>

            <label style="color: #666; font-size:.8rem">Message:</label>
            <div style="width: 100%; border: 1px solid #999; display: flex; margin-bottom: 10px;">
                <textarea style="padding: 6px; border:none;width: calc(100%); display: block" type="text" placeholder="Message"></textarea>
            </div>
        </form>
    </div>
        
    <script>

        const buy=(e)=>{
            e.preventDefault()
            console.log("first")
        }

    </script>
    
</body>
</html>